* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-image: var(--body-bg-gradient);
  background-size: var(--body-bg-size);
  background-position: var(--body-bg-position);
  min-height: 100vh;
  font-family: sans-serif;

  transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-image 100ms,
    cubic-bezier(0.215, 0.610, 0.355, 1) background-position 500ms,
    cubic-bezier(0.075, 0.82, 0.165, 1) color 100ms;
}

main {
  margin: 0 auto;
  padding: 4em 0;
  width: 50%;
  max-width: 850px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}
