section.about .controls {
  position: absolute;
  right: 0;
  left: 0;
  padding-left: inherit;
  padding-right: inherit;
  display: flex;
  justify-content: end;
  gap: 15px;

  button {
    cursor: pointer;
    border: 1.5px solid var(--button-text-color);
    color: inherit;
    background: var(--button-bg);
    border-radius: 50%;
    aspect-ratio: 1/1;
    /* width: 2.5em; */
    width: 2em;
    font-size: 1.5em;
    display: grid;
    place-items: center;
    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) background 100ms;

    &.show-qr, &:hover {
      background: var(--button-hover-bg);
      color: var(--button-hover-text-color);
    }

    & > i {
      position: absolute;
      pointer-events: none;

      &:not(.show) {
        opacity: 0;
      }
    }
  }
}

section.about h1 {
  color: var(--heading-color);
}

section.about .picture {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s transform;

  background: url(/assets/img/fox.webp);
  background-size: cover;

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  border: 1px solid #000;

  .container-qr {
    right: 0px;
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #000;

    border: 3px solid var(--text-color);
    border-radius: 50%;

    transform: rotateY(180deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: grid;
    place-items: center;

    .qr {
      background-color: var(--text-color);
      mask-image: url(/assets/svg/qrcode.svg);
      mask-repeat: no-repeat;
      mask-size: cover;
      mask-position: center center;
      width: 60%;
      aspect-ratio: 1/1;
    }
  }

  &.flip {
    transform: rotate3d(0, 1, 0, 180deg);
  }
}

section.about h1 {
  font-size: 2.5em;
}

section.about ul.attributes {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 5px;
  font-size: 1.15em;
  color: var(--text-color-light);

  span {
    color: var(--text-color-extra-light);
  }
}

section.about ul.social-media {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 5px;

  &::before {
    content: "";
    width: 1.5em;
    height: 1.5em;
    background-image: url(/assets/svg/verified.svg);
    background-size: cover;
    margin-right: 10px;
  }

  li {
    width: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      color: inherit;
      display: grid;
      place-items: center;
    }
  }
}

section.about .actions {
  display: flex;
  justify-content: center;
  gap: 20px;

  button {
    font-size: 1.15em;
    width: 100%;
    padding: 15px;
    background: var(--button-bg);
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    color: inherit;

    transition: cubic-bezier(0.075, 0.82, 0.165, 1) background 100ms;

    &:hover {
      cursor: pointer;
      background: var(--button-hover-bg);
      color: var(--button-hover-text-color);
    }
  }
}