section.social-media > .links {
  display: flex;
  flex-direction: column;
  gap: 1em;

  & > .account {
    padding: 1em .5em;

    .account__title {
      font-size: 1.1em;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1em;
      margin-bottom: 1ch;

      i {
        display: grid;
        place-items: center;
        width: 1em;
        aspect-ratio: 1/1;
      }

      span {
        font-weight: bold;
      }
    }

    .account__body {
      padding-left: 2.2em;

      a {
        text-decoration: none;
        color: var(--link-color);
      }
    }
  }
}