@use 'icons';

i.icon {
  display: block;
  height: 1em;
  aspect-ratio: 1/1;
  background: black;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transition: background-color cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
}